html, body {
  background-image: url("background.jpg");
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top of the flex container */
  padding-top: 50px; /* Offset from the top */
}

li {
  flex:1;
}

#pageTitle {
  margin-bottom: 48px;
}

#promptInput {

  padding: 24px;
  font-size: 32px;
  margin-bottom: 48px;
}

#promptBtn {
  padding: 24px;
}

#answer {
  margin-top: 24px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 24px;
  font-size: 32px;
}

.container {
  text-align: center;
}

.content {
  max-width: 600px; /* Adjust max-width as per your design */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
#answer {
  padding: 12px;
}